name: Reusable C++ Build and Test

on:
  workflow_call:
    inputs:
      test_executable_name:
        description: 'The name of the test executable'
        required: false
        type: string
        default: ''
      extra_linux_deps:
        description: 'Extra dependencies to install on Linux'
        required: false
        type: string
        default: ''

jobs:
  build:
    strategy:
      matrix:
        env:
          - toolchain: "toolchain/gcc-linux.cmake"
            runner: ubuntu-latest
            generator: ""
          - toolchain: "toolchain/clang-macos.cmake"
            runner: macos-latest
            generator: ""
          - toolchain: "toolchain/clang-windows.cmake"
            runner: windows-latest
            generator: "Visual Studio 17 2022"

    runs-on: ${{ matrix.env.runner }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install Linux reqs
        if: ${{ matrix.env.runner == 'ubuntu-latest' }}
        shell: bash
        env:
          EXTRA_DEPS: ${{ inputs.extra_linux_deps }}
        run: |
          sudo apt-get update
          sudo apt-get install -y clang cmake cppcheck clang-format clang-tidy gcc pre-commit $EXTRA_DEPS

      - name: Install macOS reqs
        if: ${{ matrix.env.runner == 'macos-latest' }}
        shell: bash
        run: |
          brew install llvm cmake cppcheck clang-format gcc pre-commit

      - name: Build
        shell: bash
        env:
          CMAKE_GENERATOR: ${{ matrix.env.generator }}
          TOOLCHAIN_FILE: ${{ matrix.env.toolchain }}
        run: |
          if [ -n "$CMAKE_GENERATOR" ]; then
              cmake -G "$CMAKE_GENERATOR" -B build -S . -DCMAKE_TOOLCHAIN_FILE="$TOOLCHAIN_FILE"
          else
              cmake -B build -S . -DCMAKE_TOOLCHAIN_FILE="$TOOLCHAIN_FILE"
          fi
          cmake --build build -j8

      - name: Run Linux/macOS tests
        if: ${{ (matrix.env.runner == 'ubuntu-latest' || matrix.env.runner == 'macos-latest') && inputs.test_executable_name != '' }}
        shell: bash
        env:
          TEST_EXECUTABLE: ${{ inputs.test_executable_name }}
        run: |
          ./$TEST_EXECUTABLE
